<%= form_with scope: :activity_ref_kind, model: @activity_ref_kind, local: true, multipart: false do |f| %>
  <% unless @errors.nil? %>
    <div class="bg-danger m-b-sm img-rounded color-black p-h-xs">
      <ul>
        <% @errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nom"%><br />
    <%= f.text_field :name, autofocus: true, id: "label", class: "form-control", required: true, minLength: 3 %>
  </div>

  <!--<div class="form-group">
    <%= f.label "cours pour enfant : ", for: "is_for_child" %>
    &nbsp;
    <%= f.check_box :is_for_child, id:"is_for_child",  required: false %> 
  </div>-->

  <% if @activity_refs&.any? %>
    <div class="form-group">
      <%= react_component("common/SelectMultiple", {
        all_features: @activity_refs.collect { |l| [l.label, l.id] },
        features: [@activity_ref_kind.default_activity_ref_id],
        isMulti: false,
        isClearable: true,
        confirmBeforeClear: false,
        title: "Activité par défaut",
        name: "activity_ref_kind[default_activity_ref_id]"
      }) %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Sauvegarder", class: "btn btn-primary block full-width m-b" %>
  </div>
<% end %>