
<div class="row wrapper border-bottom white-bg page-heading m-b-md">
  <h2>Statuts de paiement</h2>
    <%= link_to 'Créer un statut de paiement', new_payment_status_path, :class => 'btn btn-primary' %>
</div>

<p id="notice"><%= notice %></p>

<table class="table table-bordered bg-white m-t-md">
  <thead>
  <tr>
    <th>Label</th>
    <th>Couleur</th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @payment_statuses.each do |ps| %>
    <tr>
      <td><%= ps.label %></td>
      <td style="color: <%= ps.color %>"><%= ps.color %></td>
      <td><%= link_to 'Éditer', edit_payment_status_path(ps), :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Supprimer', payment_status_path(ps), method: :delete, data: { confirm: 'Êtes vous sur ?' }, :class => 'btn btn-primary' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>