<div class="row wrapper border-bottom white-bg page-heading">
    <% unless current_user.admin? %>
        <h2>
            Mes disponibilités pour <%= @season["label"] %>
            <% if !@planning[:is_locked] and current_user.teacher? %>
                <%= button_to({ :action => "lock"}, {:form_class => "pull-right", :class => "btn btn-primary"}) do %>
                    <i class="fas fa-lock"></i> Verrouiller le planning
                <% end %>
            <% end %>
        </h2>
    <% else %>
        <h2>
            Planning de <%= @planning[:user][:first_name] %> <%= @planning[:user][:last_name] %>

            <% if @planning[:is_locked] and current_user.admin? %>
                <%= button_to({ :action => "unlock"}, {:form_class => "pull-right", :class => "btn btn-primary btn-xs m-l-lg"}) do %>
                    <i class="fas fa-unlock"></i> Déverrouiller le planning
                <% end %>
            <% end %>

            <div class="dropdown pull-right text-xs">
                <button data-toggle="dropdown" class="dropdown-toggle btn btn-primary btn-xs" aria-expanded="false">
                    Changer de professeur <b class="caret"></b>
                </button>
                <ul class="dropdown-menu m-t-xs">
                    <% @teachers.each do |teacher| %>
                        <li><%= link_to "#{teacher['last_name']} #{teacher['first_name']}", planning_path(teacher['planning']['id']) %></li>
                    <% end %>
                </ul>
            </div>
        </h2>
    <% end %>
</div>

<% if ((@validation_date - Time.now()) / 1.day).round.between?(0,30) %>
    <% if current_user.teacher? %>
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
            <strong>Attention</strong>
            <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
            Vous avez jusqu'au <%= @validation_date.to_s(:french) %> pour valider votre planning !
        </div>
    <% elsif current_user.admin? %>
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-info-circle" aria-hidden="true"></i>
            Les professeurs ont jusqu'au <%= @validation_date.to_s(:french) %> pour valider leur planning. Ils en sont informés.
        </div>
    <% end %>
<% end %>

<%= react_component("planning/Planning", {
    user: @planning[:user],
    modal: true,
    detailsModal: true,
    isAdmin:  current_user.admin?,
    isTeacher: current_user.teacher?,
    displayOnly: (@planning[:is_locked] && current_user.teacher?),
    planningId: @planning[:id],
    intervals: @time_intervals,
    rooms: @rooms, room_refs: @room_refs,
    modal: @planning[:user][:is_teacher],
    user_act: @planning[:user][:activity_refs],
    levels: @levels,
    locations: @locations,
    planning: @planning,
    teachers: @teachers,
    additionalStudents: @additional_students,
    season: @season,
    seasons: @seasons,
    day: @day,
    generic: true,
}) %>

