<div class="row wrapper border-bottom white-bg page-heading m-b-md">
  <h2>
    Politique de confidentialité et traitement des données personnelles.
  </h2>
</div>

<div class="ibox-content">

  <p>Le Règlement Général sur la Protection des données (Règlement UE 2016/679) désigné par « RGPD » est entré en
    vigueur le 25 mai 2018 et <%= @school_name %> se doit d’être en conformité avec celui-ci pour tous les
    traitements de données personnelles existants au sein d'Elvis.</p>

  <p>Ce règlement poursuit 3 objectifs :</p>

  <ul>
    <li>Adapter le contexte juridique pour suivre les évolutions des technologies et de nos sociétés</li>
    <li>Il s’inscrit dans la continuité de la Loi française Informatique et Libertés de 1978 et renforce le contrôle par
      les citoyens de l’utilisation qui peut être faite des données les concernant.</li>
    <li>Harmoniser les règles en Europe pour offrir un cadre juridique unique aux professionnels.</li>
  </ul>

  <p><%= @school_name %> met également en œuvre les procédures internes adéquates afin de sensibiliser ses employés
    et d’assurer le respect de ces règles au sein de son organisation.</p>

  <br>

  <h4>Quels sont les obligations de <%= @school_name %> en matière de protection des données personnelles ?</h4>

  <p><%= @school_name&.upcase_first %> doit garantir un niveau de protection élevé des données personnelles des Utilisateurs de
    tous ses services.</p>

  <p><%= @school_name&.upcase_first %> doit respecter la réglementation applicable à l’ensemble des traitements de données
    personnelles qu’elle met en œuvre. Plus particulièrement, <%= @school_name %> s’engage notamment à respecter les
    principes suivants :</p>

  <ul>
    <li>vos données personnelles sont traitées de manière licite, loyale et transparente (licéité, loyauté, transparence)
    ;</li>
  <li>vos données personnelles sont collectées pour des finalités déterminées, explicites et légitimes, et ne sont pas
    traitées ultérieurement d’une manière incompatible avec ces finalités (limitation des finalités) ;</li>
  <li>vos données personnelles sont conservées de manière adéquate, pertinente et sont limitées à ce qui est nécessaire
    au regard des finalités pour lesquelles elles sont traitées (minimisation des données) ;</li>
  <li>vos données personnelles sont exactes, tenues à jour et toutes les mesures raisonnables sont prises pour que les
    données inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans
    tarder (exactitude).</li>
  </ul>

  <p><%= @school_name&.upcase_first %> met en œuvre les mesures techniques et organisationnelles appropriées afin de garantir un
    niveau de sécurité adapté au risque inhérent à ses opérations de traitement, répondre aux exigences réglementaires
    et protéger les droits et les données des personnes concernées dès la conception des opérations de traitement.</p>

  <p>Enfin, <%= @school_name %> s’engage à respecter tout autre principe s’imposant au regard de la réglementation
    applicable en matière de protection des données personnelles, et plus précisément concernant les droits conférés aux
    personnes concernées, les durées de conservation des données personnelles ainsi que les obligations relatives aux
    transferts transfrontaliers de données personnelles.</p>

  <br/>

  <h4>Vos droits</h4>
  <p><a target="_blank" href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles">https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles</a></p>

  <p><%= @school_name&.upcase_first %> garantit à l’utilisateur un droit d’opposition, d’accès et de rectification sur les données
    le concernant</p>

  <p>
    Comment faire valoir vos droits ? <br/>
    <p>En envoyant un message à l’adresse <a href="mailto:<%= @admin_email %>"><%= @admin_email %></a></p>
  </p>

  <hr/>

  <h4>Dans le cadre d'une inscription sur la plateforme Elvis</h4>

  
    <p>Quelles sont les finalités ? </p>
    <ul>
    <li>Traiter votre demande d’inscription </li>
    <li>Trouver le meilleur cours pour l’élève </li>
    <li>Avoir un suivi pédagogique et administratif sur une saison scolaire </li>
    </ul>
 

  <p>
    Où sont stockées vos données ?</p>
    <ul>
    
    <li>Elvis est un logiciel développé par l’entreprise havraise Sixmon <a target="_blank" href="https://www.sixmon.net/">https://www.sixmon.net/</a>.</li>
    <li>Elvis est hébergé sur une infrastructure Microsoft Azure <a href="https://azure.microsoft.com/fr-fr/" target="_blank">https://azure.microsoft.com/fr-fr/</a> située en France et gérée par Sixmon.</li>
  </ul>

  <p>Qui est susceptible d’accéder à vos données personnelles ?</p>
  <ul>
    <li>Le personnel de <%= @school_name %> en charge des inscriptions, du suivi administratif et pédagogique est
    susceptible d’accéder à vos données personnelles.</li>
    <li>Les professeurs ont accès aux informations de contacts (email, téléphone, adresse) de leurs élèves.</li>
  </ul>
</div>