<div class="middle-box text-center loginscreen">
    <div>
        <div>
            <img src="<%= @school_informations&.logo&.attached? ? url_for(@school_informations.logo) : (asset_pack_path "media/images/logo_elvis_a.png") %>" width="150" height="150" class="picto-loginscreen" />
        </div>

        <div class="ibox">
            <div class="ibox-title">
              <h5>Définissez votre mot de passe</h5>
            </div>

            <div class="ibox-content">
            <% if !@has_token%>
                <div >
                    <h3> Mot de passe déjà défini, veuillez vous connecter avec votre login/mot de passe</h3>
                    <%= link_to 'Redirection vers la page de login', '/u/sign_in', class:"btn btn-primary" %>
                </div>
            <% else %>
        
                <%= form_for(@user, url: {action: "update_password", controller: "users"}) do |f| %>
                    <div class="form-group">
                        <%= f.label "Nouveau mot de passe" %><br />
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                        <% if @user.errors.messages[:password] %>
                            <% @user.errors[:password].each do |error| %>
                                <li class="errors-list"><%= error%></li>
                            <% end %>
                        <%end%>
                    </div>
                    <div class="form-group">
                        <%= f.label "Confirmation du nouveau mot de passe" %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                        <% if @user.errors.messages[:password_confirmation] %>
                            <% @user.errors[:password_confirmation].each do |error| %>
                                <li class="errors-list"><%= error%></li>
                            <% end %>
                        <%end%>
                    </div>

                    <%= hidden_field_tag("reset_password_token", @token)%>

                    <%= f.submit "Valider", class: "btn btn-primary block full-width m-b" %>
                <% end %>
            <% end %>
            
            </div>
        </div>
        
    </div>
</div>
