<div class="row wrapper border-bottom white-bg page-heading m-b-md">
  <h2>Créer un nouvel utilisateur</h2>
</div>
<div class="row">
  <div class="col-lg-6 m-l-sm col-sm-11">
    <%= form_with scope: :user, url: users_path, local: true do |f| %>
      <% unless @errors.nil? %>
        <div class="bg-danger m-b-sm img-rounded color-black p-h-xs">
          <ul>
            <% @errors.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <div><%= f.label :nom %><span class="text-danger">*</span> </div>
        <%= f.text_field :last_name, autofocus: true, required: true, autocomplete: "last name", id: "last_name", class: "form-control" %>
      </div>

      <div class="form-group">
        <div><%= f.label :prénom %><span class="text-danger">*</span></div>
        <%= f.text_field :first_name, autofocus: true, required: true, autocomplete: "first name", id: "first_name", class: "form-control" %>
      </div>

      <div class="form-group">
        <div><%= f.label :date_de_naissance %><span class="text-danger">*</span></div>
        <%= f.date_field :birthday, required: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <div><%= f.label :email %><span class="text-danger">*</span></div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <div><%= f.label :compte_rattaché_à %></div>
        <%= f.collection_select :attached_to_id, @users_to_attach, :id, :full_name, { include_blank: true }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <div class="checkbox checkbox-primary">
          <%= f.check_box :is_admin, autocomplete: "off", id: "admin" %>
          <%= f.label "Administrateur", for: "admin", class: "control-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox checkbox-primary">
          <%= f.check_box :is_teacher, autocomplete: "off", id: "isTeacher", onChange: "onProfChange()"%>
          <%= f.label "Professeur", for: "isTeacher", class: "control-label" %>
        </div>
      </div>


      <% if @activity_refs.any? %>
        <div class="form-group" style="display:none">
          <%= f.label :Activités %>
          <div class="checkbox-list" id="activity-checkbox-list">
            <% for activity_ref in @activity_refs %>
              <div>
                <%= check_box_tag "user[activity_refs][]", activity_ref.id, false %>
                <%= activity_ref.label %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="checkbox checkbox-primary">
          <%= f.check_box :adherent, { id: "adherent" }, true, false %>
          <%= f.label "Adhérent", for: "adherent", class: "control-label" %>
        </div>

        <div class="form-group">
          <div class="checkbox checkbox-primary">
            <%= f.check_box :confirm, { id: "confirm" }, true, false %>
            <%= f.label "Envoyer un mail de confirmation", for: "confirm", class: "control-label" %>
          </div>
        </div>

        <%= f.submit "Création", class: "btn btn-primary block full-width m-b" %>
    <% end %>
    </div>
    <script type="text/javascript">

        function onProfChange()
        {
            const checkProf = document.getElementById("isTeacher")
            const selectAct = document.getElementById("activity-checkbox-list");

            if(checkProf["checked"]){
                selectAct.setAttribute('required', '');
                selectAct.parentNode.style.display="block"

            }else{
                selectAct.removeAttribute('required');
                selectAct.parentNode.style.display="none"
            }
        }
    </script>
</div>
</div>