<div class="row wrapper border-bottom white-bg page-heading">
    <h2>Référentiel des salles <%= @location&.label %>
        <%= link_to "/rooms/#{@location&.id}/new", method: :get do %>
            <button class="btn btn-primary btn-sm pull-right" ><i class="fas fa-plus"></i> Ajouter une salle</button>
        <% end %>
    </h2>
</div>

<br />

<div>
  <% @rooms.each do |floor, rs| %>
    <% if floor.present? && floor > 0 %>
      <h3>Etage <%= floor.inspect %></h3>
    <% else %>
      <h3>Rez-de-chaussée</h3>
    <% end %>

    <div class="flex flex-wrap">
      <% rs.each do |room| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="contact-box">
            <div class="col-sm-4" style="text-align: -webkit-center">
              <% if room.picture.attached? %>
                <%= image_tag url_for(room.picture), class: "m-t-xs img-responsive", style: "max-height: 300px;" %>
              <% end %>
            </div>
            <div class="col-sm-12">
              <h4><strong><%= room.label %></strong></h4>
              <p>Salle de <%= room.kind %><p>
              <% unless room.location_id.nil? %>
                <p>Lieu : <%= room.location.label %>, étage <%= room.floor %></p>
              <% end %>
              <% unless room.activity_refs.empty? %>
                <p>Activités: </p>
                <ul class="unstyled">
                  <% room.activity_refs.each_with_index do |ref, pos| %>
                    <% if pos < 5 %>
                      <li><%= ref.label %></li>
                    <% else %>
                      <li>...</li>
                      <% break %>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>

              <% unless room.room_room_features.empty? %>
                <p>Features:</p>
                <ul class="unstyled">
                  <% room.room_room_features.each_with_index do |feat, pos| %>
                    <% if pos < 5 %>
                      <li><%= feat.room_features.name %></li>
                    <% else %>
                      <li>...</li>
                      <% break %>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>

              <%= link_to room_planning_path(room) do %>
                <button class="btn btn-sm btn-primary">Planning</button>
              <% end %>

              <%= link_to edit_room_path(room) do %>
                <button class="btn btn-sm btn-primary">Éditer</button>
              <% end %>

            <% if room.activities.length > 0 %>
              <%= link_to "/rooms/#{room.id}", method: :delete do %>
                <button class="btn btn-sm btn-danger disabled" style="pointer-events:auto" title="Des activités sont reliées à cette salle, vous ne pouvez pas la supprimer. Merci de supprimer les activités en amont">Supprimer</button>
              <% end %>


              <% else %>
              <%= link_to "/rooms/#{room.id}", method: :delete do %>
                <button class="btn btn-sm btn-danger ">Supprimer</button>
              <% end %>
              


              <% end %>
            </div>
            <div class="clearfix"></div>
            
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
