<!DOCTYPE html>
<html>
    <head>
        <title>Elvis</title>
        <%= csrf_meta_tags %>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <%= stylesheet_pack_tag 'application' %>
    </head>

    <body class="gray-bg">
        <%= react_component("Toaster") %>

        <%= yield %>

        <%= javascript_pack_tag 'app' %>
        <script src="https://unpkg.com/@popperjs/core@2" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/tippy.js@6" integrity="sha384-AiTRpehQ7zqeua0Ypfa6Q4ki/ddhczZxrKtiQbTQUlJIhBkTeyoZP9/W/5ulFt29" crossorigin="anonymous"></script>
    </body>
</html>
